:root {
  --editor-font-size: 16px; /* Default font size */
}

.mainWrap {
    display: grid;
    grid-template-columns: 230px 1fr;
    height: 100vh;
    max-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #e5e5e5;
    background: linear-gradient(to right, #1c1e29, #292c3e);
    transition: grid-template-columns 0.3s ease-in-out;
}

.mainWrap.collapsed {
    grid-template-columns: 0px 1fr;
}

.btn {
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    outline: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.aside {
    background-color: #181a27;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #2d2f3f;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    transition: transform 0.3s ease-in-out;
    height: 100vh;
    box-sizing: border-box;
}

.aside.hidden {
    transform: translateX(-100%);
}

.asideInner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.clientslist {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
}

.client {
    background: #292c3e;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.client:hover {
    background: #4aee88;
    color: #181a27;
}

.sb-avatar__text > div > span {
    padding-top: 5px;
}

.usernamediv {
    display: flex; 
    align-items: center; 
    gap: 5px; 
}

.username {
    max-width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.crown {
    color: goldenrod;
    line-height: 1;
    margin-top: 4px;
}

.logo {
    border-bottom: 1px solid #424242;
    display: flex;
    justify-content: center;
}

h4, h3 {
    margin: 10px 0 0 0;
    font-weight: 600;
    color: #4aee88;
}

hr {
    border: none;
    height: 1px;
    background: #4a4d60;
    margin: 15px 0;
}

.copybtn {
    background: #4aee88;
    color: #1c1e29;
}

.copybtn:hover {
    background: #2b824c;
    transform: scale(1.05);
}

.leavebtn {
    background: #e53935;
    color: #fff;
}

.leavebtn:hover {
    background: #b71c1c;
    transform: scale(1.05);
}

.sidebarToggler{
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1000;
    cursor: pointer;
    color: goldenrod;
    transition: transform 0.3s ease, color 0.3s ease;
}

.sidebarToggler:hover {
    transform: scale(1.2);
    color: gold;
}

.right{
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1000;
    color: #2b824c;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.right:hover {
    transform: scale(1.2);
    color: #4aee88;
}

.cm-editor {
    height: 100vh;
    font-size: var(--editor-font-size);
    background: #292c3e;
    padding: 5px;
    line-height: 1.6;
}

.accessibilitybuttons{
    display: inline-flex;
    gap: 10px;
}

.controlbuttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #1c1e29;
}
::-webkit-scrollbar-thumb {
    background: #4aee88;
    border-radius: 4px;
}
